<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver
      android:name="dev.jasonpearson.automobile.sdk.notifications.AutoMobileNotificationReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="dev.jasonpearson.automobile.sdk.NOTIFICATION_POST" />
      </intent-filter>
    </receiver>

    <receiver
      android:name="dev.jasonpearson.automobile.sdk.notifications.AutoMobileNotificationActionReceiver"
      android:exported="false">
      <intent-filter>
        <action android:name="dev.jasonpearson.automobile.sdk.NOTIFICATION_ACTION" />
      </intent-filter>
    </receiver>

    <provider
      android:name="dev.jasonpearson.automobile.sdk.database.DatabaseInspectorProvider"
      android:authorities="${applicationId}.automobile.database"
      android:exported="true" />
  </application>
</manifest>
