.auto-mobile-config.json
.idea
node_modules
/coverage
/dist
/venv
/test_screenshots
.view_hierarchy_cache/
screenshots/
**/.DS_Store
.nyc_output/
npm-debug.log*
/.gitlab-ci-local
*.tgz

# Places to locally write while thinking or planning
/scratch
/roadmap
/blog
/presentation

# Generated MkDocs for GitHub Pages
/site

docs/changelog.md
docs/contributing/index.md


